.form-horizontal {
  width: 500px;
  margin: auto;
  margin-top: 240px;
  border: 2px solid rgb(107, 183, 212);
  border-radius: 5px;
  padding: 18px;

  .btn {
    width: 140px;
    margin-right: 20px;
  }
}
