
  <div class="tag-btn">
    <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '1'}" (click)="tagClick('1')">查询借阅</button>
    <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '2'}" (click)="tagClick('2')">归还</button>
    <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '3'}" (click)="tagClick('3')">图书管理</button>
    <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '4'}" (click)="tagClick('4')">日志</button>
    <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '5'}" (click)="tagClick('5')">排行榜</button>
  </div>
  <hr/>

  <div class="table-responsive col-sm-9">
    <table class="table table-striped table-hover">
      <thead>
        <th>书名</th>
        <th>作者</th>
        <th>借阅次数</th>
      </thead>
      <tbody   *ngIf="books">
        <tr *ngFor="let book of books">
          <td>{{book.bookName}}</td>
          <td>{{book.authorName}}</td>
          <td>{{book.cnt}}</td>
        </tr>
      </tbody>
    </table>
  </div>

<div style="float: right;" class="table-responsive col-sm-9">
  <table class="table table-striped table-hover">
    <thead>
      <th>读者</th>
      <th>借阅次数</th>
    </thead>
    <tbody   *ngIf="readers">
      <tr *ngFor="let reader of readers">
        <td>{{reader.readerName}}</td>
        <td>{{reader.cnt}}</td>
      </tr>
    </tbody>
  </table>
</div>


