.header{
  margin-top: 0;
  background:rgb(2, 252, 239);
  border:#F90 solid 1px;
  text-align: center;
  font:180% "仿宋";
  text-decoration-color: floralwhite;
  .button0{
    float: right;
    text-align: center;
    background:rgb(104, 218, 212);
   }
}